{#
/**
 * @file
 * Default theme implementation for Bubble Sort Animation.
 *
 * Available variables:
 *   - 
 *
 * @see template_preprocess_bubble_sort()
 *
 * @ingroup themeable
 */
#}

<div id="vue-app">
  <bubblesort color="{{ color }}" hcolor="{{ hcolor }}" len="{{ len }}"></bubblesort>
</div>